/* workspace.css */


.navbar {
    background-color: #3498db;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-left: 100px; /* Add padding to the left side */
    padding-right: 100px; /* Add padding to the right side */
    /* Additional styles for the navbar as needed */
}
/* workspace.css */
.container {
    margin-top: 20px; /* Add space at the top if needed */
    margin-left: 80px; /* Add space to the left side */
    margin-right: 20px; /* Add space to the right side */
    /* Additional styles for the container as needed */
}