{% extends "base.html" %}

{% block content %}



<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3"style="margin-top: 3cm;">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Profile Settings</h3>
                </div>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li style="color: red; font-weight: bold;">{% if message.tags %} {% endif %} {{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" id="username" class="form-control" value="{{ username }}" disabled>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" id="email" class="form-control" value="{{ email }}" disabled>
                        </div>
                        <div class="form-group">
                            <label for="first_name">First Name:</label>
                            <input type="text" id="first_name" class="form-control" value="{{ first_name }}" disabled>
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name:</label>
                            <input type="text" id="last_name" class="form-control" value="{{ last_name }}" disabled>
                        </div>
                        <div class="form-group">
                            <label for="Account_status">Account Status:</label>
                            <div class="account-status-cell">
                                {% if is_seller %}
                                <input type="text" id="Account_status" class="form-control" value="Seller" disabled>
                                
                                {% else %}
                                <input type="text" id="Account_status" class="form-control" value="Buyer" disabled>
                                <a href="{% url 'create_seller' %}">Request For Seller For Sell Products</a>
                                {% endif %}
                            </div>
                        </div>
                        
                        
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a href="#" class="btn btn-primary">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
