{% load static %}

<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav style="background-color: white;" class="main-nav">
                    <!-- ***** Logo Start ***** --> 
                    <a href="{% url 'home'%}" class="logo">
                        <img src="{% static 'images/logo.png'%}">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul style="align-items: center;" class="nav">
                        <li class="scroll-to-section"><a href="{% url 'home' %}">Home</a></li>
                        <li class="scroll-to-section"><a href="{% url 'store' %}">Store</a></li>
                        {% if request.user.is_authenticated %}
                        <div style="border:1px dashed gray; padding:5px;" class="widget-header">
                            <small class="title text-muted">Welcome ! {{request.user}}</small>
                            <div>
                                <a href="">Dashboard</a>
                                <span class="dark-transp"> | </span>
                                <a href="{% url 'logout'%}">Logout</a>
                            </div>
                        </div>
                        {% else %}
                        <div class="widget-header">
                            <small class="title text-muted">Welcome guest!</small>
                            <div>
                                <a href="{% url 'login' %}">Sign in</a>
                                <span class="dark-transp"> | </span>
                                <a href="{% url 'register' %}">Register</a>
                            </div>
                        </div>
                        {% endif %}
                        <!-- Add Cart Button Here -->
                        <li class="cart"><a href="{% url 'cart' %}">Your Cart</a></li>
                        {% if request.user.is_authenticated %}
                        <!-- Profile Settings Button -->
                        <li class="profile-settings">
                            <a href="{% url 'profile_settings' %}">
                                <img src="{% static 'images/setting_icon.png' %}" alt="Profile Settings"style="width: 20px; height: auto; margin-right: 5px;">
                                Profile Settings
                            </a>
                        </li>
                        {% endif %}
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
