{% extends "base.html" %}

{% block content %}
<div class="container mt-5"style="margin-left:200px;">
    <h1>User Activity Feed</h1>
    <ul class="list-group mt-3">
            {% for activity in activities %}
            <li class="list-group-item">
                <div class="media">
                    <div class="media-body">
                        <p>{{ activity.data }} {{ activity.created_date }}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        
    </ul>
</div>
{% endblock %}
