{% load static %}
{% include 'base.html' %}

{% block content %}
<h4>We Are Hexashop</h4>
<div style="padding-top:100px;" class="main-banner" id="top">
      <h5 class="text-center mb-5">Dear Sir Please go to the store page for filter items and saw or put the reviews on every product details</h5>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="left-content" style="display: flex; justify-content: center; align-items: center;">
                        <div class="thumb">
                            <div style="left: 50%; top: 50%; transform: translate(-50%,-50%);" class="inner-content">
                                <h4>  WELCOME TO HEXASHOP </h4>
                                <span> POOPULER NOW, MOST SOLD ITEM FROM 2 MONTHS </span>
                                <div class="main-border-button">
                                    <a href="{% url 'featurenv' %}">Purchase Now!</a>
                                </div>
                            </div>
                            <img style="height: 400px; width: 80vw; margin-right: 0; margin-left: 0; object-fit: cover;" src="{% static 'images/left-banner-image.jpg'%}" alt="">
                        </div>
                    </div>
                    
                </div>
            </div>

            <div  class="row mx-auto justify-content-center">
                {% for item in products %}

                <div  style="max-width: 350px;" class="item m-4 col-lg-4">
                    <div class="thumb">
                        <img style="width:300px; hight:350px;" src="{{item.image.url}}" alt="">
                    </div>
                    <div class="down-content d-flex justify-content-between">
                        <div>
                            <h4 class=" text-wrap">{{item.product_name}}</h4>
                            <span>${{item.price}}</span>
                        </div>
                        <div class="">
                            <a href="{% url 'add_cart' product_id=item.id %}" style="width:150px; text-align:center;" class="button border-0 rounded text-light bg-success d-block m-1" >Add to cart</a>
                            <a href="{% url 'product_detail' product_id=item.id %}" style="width:150px; text-align:center;" class="button border-0 rounded text-light bg-info d-block m-1">Details</a>

                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
            <nav class="mt-4 d-flex justify-content-center" aria-label="Page navigation sample">
                {% if products.has_other_pages %}
                <ul class="pagination justify-content-end mr-0">
                    {% if products.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{products.previous_page_number}}">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Previous</a>
                    </li>
                    {% endif %}
                    {% for i in products.paginator.page_range %}
                    {% if products.number == i %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{i}}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{i}}">{{i}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if products.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{products.next_page_number}}">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </nav>
            
        </div>
    </div>
</div>
{% endblock %}