{% extends 'base.html' %} {% load static %} {% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<section style="margin-top:200px;" class=" ">
  <div class="container mt-5">

    <h2 class="title-page">Search Result</h2>

    <h2 class="title-page">Our Store</h2>
  </div>
  <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <div class="card">
          <article class="filter-group">
            <header class="card-header">
              <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Categories</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
              <div class="card-body">
                <ul class="list-menu">
                  <li><a href="{% url 'store' %}">All Products </a></li>
                  {% for category in categories %}
                  <li>
                    <a href="{% url 'store_by_category' category_slug=category.slug %}">{{ category.category_name }}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              <!-- card-body.// -->
            </div>
          </article>
          <div>
            <form method="post" action="{% url 'filter_items' %}">
              {% csrf_token %}          
              <div class="d-flex align-items-center">
                  <label class="text-nowrap mx-2" for="id_field1">Min Price:</label>
                  <input style="width:100px; margin:5px;" type="number" id="id_field1" name="field1" required>
              </div>
          
              <div class="d-flex align-items-center">
                  <label class="text-nowrap mx-2" for="id_field2">Max Price:</label>
                  <input style="width:100px;" type="number" id="id_field2" name="field2" required>
              </div>          
              <div class="d-flex align-items-center">
                  <label class="text-nowrap mx-2" for="id_field3">Select Size:</label>
                  <select id="id_field3" name="field3"> <!-- Change 'name' attribute to 'field3' -->
                    <option value="None">All Sizes</option> 
                      <option value="S">Small</option> 
                      <option value="M">Medium</option>
                      <option value="L">Large</option>
                      <option value="XL">Extra Large</option>
                      <option value="XXL">2 x Extra Large</option>
                      <option value="XXXL">3 x Extra Large</option>
                  </select>
              </div>
              <div class="d-flex align-items-center">
                <label class="text-nowrap mx-2" for="id_field4">Select Color:</label>
                <select id="id_field4" name="field4"> <!-- Change 'name' attribute to 'field3' -->
                  <option value="None">All Color</option> 
                    <option value="Red">Red</option> 
                    <option value="White">White</option>
                    <option value="Blue">Blue</option>
                    <option value="Green">Green</option>
                    <option value="Yellow">Yellow</option>
                    <option value="Black">Black</option>
                </select>
            </div>      
              <button type="submit">Submit</button>
          </form>
          
          
          </div>
        </div>
        <!-- card.// -->
      </aside>
      <main class="col-md-9">
        <header class="border-bottom mb-4 pb-3">
          <div class="form-inline">
            <span class="mr-md-auto"><b>{{ p_count }}</b> items found
            </span>
          </div>
        </header>
        <!-- sect-heading -->

        <div style=" " class="row mx-auto justify-content-center">
          {% if products %} 
          {% for product in products %}
            <div style="max-width:300px; " class="col-lg-4  m-2">
              <figure class="card card-product-grid">
                <div class="img-wrap">
                  <a href="#"><img style="max-width:300px; height:350px; object-fit:cover;" src="{{ product.image.url }}" /></a>
                </div>
                <!-- img-wrap.// -->
                <figcaption class="info-wrap">
                  <div class="fix-height">
                    <a href="{% url 'product_detail' product_id=product.id %}" class="title">{{product.product_name}}</a>
                    <div class="price-wrap mt-2">
                      <span class="price">${{product.price}}</span>
                    </div> <!-- price-wrap.// -->
                  </div>
                  <a href="{% url 'add_cart' product_id=product.id %}" class="btn btn-block btn-success">Added to cart </a>
                  <a style="background-color: #22806d;" href="{% url 'product_detail' product_id=product.id %}" class="btn btn-block ">Product Details </a>
                </figcaption>
              </figure>
            </div>
          <!-- col.// -->
          {% endfor %} 
          {% else %}
          <div>
            <h2>No result found. Please try again.</h2>
          </div>
          {% endif %}
        </div>
        <!-- row end.// -->

        <nav class="mt-4" aria-label="Page navigation sample">
          {% if products.has_other_pages %}
          <ul class="pagination">
            {% if products.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{products.previous_page_number}}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Previous</a>
            </li>
            {% endif %}
            {% for i in products.paginator.page_range %}
            {% if products.number == i %}
            <li class="page-item active">
              <a class="page-link" href="#">{{i}}</a>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{i}}">{{i}}</a>
            </li>
            {% endif %} {% endfor %} {% if products.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{products.next_page_number}}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </nav>
      </main>
    </div>
  </div>
  <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}